<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" href="data:,">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Associate Directory</title>
</head>

<body>

<div class="container">

    <h3>Associate Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/associates/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Associate
    </a>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form th:action ="@{/associates/list}" method="get">

        <input type="text" placeholder="Search by keyword" name="keyword">

        <button type="submit"><i class="fa fa-search"></i></button>
    </form>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Associate id</th>
            <th>Associate name</th>
            <th>Email</th>
            <th>Mobilenumber</th>
            <th>skills</th>
            <th>Action</th>
        </tr>
        </thead>


        <tbody>
        <tr th:each="tempAssociate : ${associates}">
            <td th:text="${tempAssociate.associateId}" />
            <td th:text="${tempAssociate.associateName}" />
            <td th:text="${tempAssociate.email}" />
            <td th:text="${tempAssociate.mobileNumber}" />
            <td th:text="${tempAssociate.skills}" />

            <!-- Add update button/link -->

            <td>

                <a th:href="@{/associates/showFormForUpdate(associateId=${tempAssociate.associateId})}"

                   class="btn btn-info btn-sm">
                    Update
                </a>


                <a th:href="@{/associates/showFormForAddSkill(associateId=${tempAssociate.associateId})}"

                   class="btn btn-info btn-sm">
                    AddSkill
                </a>


            </td>


        </tr>
        </tbody>
    </table>

</div>

</body>
</html>